build/*
dist/*
pyrtstools/__pycache__/*
pyrtstools/kws/__pycache__/*
pyrtstools/features/__pycache__/*
pyrtstools/listenner/__pycache__/*
pyrtstools/vad/__pycache__/*
pyrtstools/utils/__pycache__/*
pyrtstools/transform/__pycache__/*
pyrtstools.egg-info/*
.vscode*
test.py
pypi_push.sh